<h1 class="mat-h1">Sourdough tracker</h1>

<mat-vertical-stepper #stepper [linear]="true">
  <mat-step *ngFor="let step of steps; index as i">
    <ng-template matStepLabel>{{ step.definition.title }}</ng-template>
    <div *ngIf="step.timerIndex !== undefined">
      <cd-timer [startTime]="step.definition.duration * 60" [autoStart]="false" [countdown]="true" format="intelli">
      </cd-timer>
    </div>
    <div>
      <button mat-raised-button color="primary" matStepperNext (click)="next(i)">Next</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
