<mat-horizontal-stepper #stepper
                        [linear]="true">
  <mat-step>
    <ng-template matStepLabel>Import recipe</ng-template>
    <mat-form-field>
      <mat-label>Enter your recipe</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="50"
                [formControl]="recipeText"></textarea>
    </mat-form-field>
    <div>
      <button mat-raised-button
              color="primary"
              matStepperNext
              (click)="import()">Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Verify</ng-template>
  </mat-step>
</mat-horizontal-stepper>
